body.single.single-post {
  &.blog-sidebar-right {
    .site-main-content {
      padding-right: 80px;
      border-right: solid 1px v(site-border-color);
      @include breakpoint(1550px down) {
        padding-right: 30px;
      }
      @include breakpoint(large down) {
        padding-right: 0;
        border: 0;
      }
    }
  }
  &.blog-sidebar-left {
    .site-main-content {
      padding-left: 80px;
      border-left: solid 1px v(site-border-color);
      @include breakpoint(1550px down) {
        padding-left: 30px;
      }
      @include breakpoint(large down) {
        padding-left: 0;
        border: 0;
      }
    }
  }
  .site-content-wrapper {
    .single_post_content {
      margin-top: rem-calc(80);
      @include breakpoint(medium down) {
        margin-top: rem-calc(30);
      }
    }
    .site-main-content {
      background: v(site-bg-color);
    }
  }
  @import "single/single_header";

  .post {
    @import "single/single_meta";
    @import "single/single_content";
  }
  @import "single/single_comments";
  @import "single/single_footer";
  @import "single/single_author_info";
  @import "single/single_post_navigation";

  &.content-layout-full {
    .single-comments-container,
    .single_navigation_container,
    .single_related_post_container {
      border-top: 1px solid;
    }
  }

  &.content-layout-boxed {
    .single-comments-container .single-comments-row,
    .single_navigation_container .single_navigation,
    .single_related_post_container .single_related_posts {
      border-top: 1px solid;
    }
  }
}
body.single-product {
  table tbody th,
  table tbody td,
  table tr {
    border: none;
  }
}

body.single:not(.single-blog-sidebar-active) {
  .site-content-wrapper {
    .site-main-content {
      max-width: rem-calc(1140);
      margin: 0 auto;
    }
  }
}
@import "single/single_sidebar";
