.cart {
	display: flex;
	flex-direction: column;
	margin-bottom: 0;
	width: 100%;
	flex-wrap: wrap;
	@include breakpoint(large) {
		flex-direction: row;
	}
	&.variations_form {
		display: block;
	}
	.woocommerce-product-details__add-to-cart {
		display: flex;
		width: 100%;
		flex-wrap: wrap;
		@include breakpoint(360px down) {
			flex-direction: column;
		}
		>div:not(.quantity) {
			width: 100%;
			order: 1;
			padding: 0 !important;
			margin: 10px 0 0 0 !important;
		}
		p {
			width: 100%;
			order: 0;
			margin: 10px 0 0 0 !important;
		}
		.button {
			order: -1;
		}
		.quantity {
			order: -2;
		}

		.bundle_wrap {
			width: 100%;
		}

		.bundle_button {
			display: flex;
			width: 100%;
		}

		.quantity.hidden {
			margin-left: 0;
			height: 56px;
			padding: 0;

			& ~ button {
				padding: 0;
				height: rem-calc(56);
			}
		}
	}

	.quantity {
		display: block;
		position: relative;
		text-align: center;
		width: rem-calc(120);
		border: solid 1px v(site-border-color);
		@include breakpoint(360px down) {
			width: 100%;
			height: 45px;
			margin: 0 0 10px 0;
		}
		input {
			border: none;
			font-size: rem-calc(16);
			font-weight: 500;
		}
		.qty-button.inc:after,
		.qty-button.dec:after {
			font-size: rem-calc(12);
		}
	}
	.button {
		background-color: v(site-primary-button-color);

		&:hover {
			@include button_pattent();
		}
	}
}
