@mixin widget_meta() {
  li {
    margin: rem-calc(8) 0;
    a {
      font-size: rem-calc(14);
      font-weight: 500;
      padding: 5px 0;
    }
    abbr {
      border-bottom: 1px dashed;
    }
  }
}
