.kitify-banner {
  //Hiden content
  &.kitify-effect-hidden-content {
  .kitify-banner__content {
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    opacity: 0;
    @include transition(opacity 0.35s);
  }

  .kitify-banner__title,
  .kitify-banner__text,
  .kitify-banner__button  {
    opacity: 0;
    will-change: transform;
    transform: translateY(30%);
    box-sizing: border-box;
    transition: transform 0.3s 0.07s,opacity 0.3s 0.07s;
  }
  .kitify-banner__img {
    transition: all 2s;

    .mm-menu-custom-block & {
      transition-duration: 0.3s;
    }
  }

  &:hover {
    .kitify-banner__content {
      opacity: 1;
    }
    .kitify-banner__title {
      transform: translateY(0);
      opacity: 1;
      transition-delay: 0.1s;
    }
    .kitify-banner__text {
      transform: translateY(0);
      opacity: 1;
      transition-delay: 0.14s;
    }
    .kitify-banner__button {
      transform: translateY(0);
      opacity: 1;
      transition-delay: .17s;
    }

    .kitify-banner__img {
      transform: scale(1.1);
    }
  }
}
  //Vonica
  &.kitify-effect-vonica-1 {
    .kitify-banner__img {
      max-width: none;
      width: -webkit-calc(100% + 50px);
      width: calc(100% + 50px);
      transition: transform 0.35s;
      transform: translate3d(-40px, 0, 0);
    }

    .kitify-banner__content {
      text-align: left;
    }

    .kitify-banner__content-wrap {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: rem-calc(60) rem-calc(30);
      align-items: center;
      z-index: 2;
    }

    .elementor-button,
    .kitify-banner__text,
    .kitify-banner__title {
      transform: translate3d(0, 20px, 0);
    }
    .elementor-button  {
      justify-content:  center;
    }
    .kitify-banner__title {
      position: relative;
      display: inline-flex;
      padding-bottom: rem-calc(15);
      transition: transform 0.35s;

      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 75%;
        height: 1px;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.2s ease-out;
      }
    }

    .kitify-banner__text {
      color: rgba(255, 255, 255, 0.8);
      opacity: 0;
      transition: opacity 0.2s, transform 0.35s;
    }

    .elementor-button {
      display: inline-flex;
      opacity: 0;
      transition: opacity 0.2s, transform 0.35s;
    }

    &:hover {
      .elementor-button,
      .kitify-banner__text {
        opacity: 1;
      }

      .kitify-banner__title {
        &:before {
          height: 1px;
          background-color: #FFFFFF;
          transform: scaleX(1);
          transform-origin: left;
        }
      }

      .elementor-button,
      .kitify-banner__img,
      .kitify-banner__text,
      .kitify-banner__title {
        transform: translate3d(0, 0, 0);
      }

      .elementor-button,
      .kitify-banner__text {
        transition-delay: 0.05s;
        transition-duration: 0.35s;
      }
    }
  }
}
