.nova-instagram-feeds {
  .instagram-feeds {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;

    .instagram-feed {
      width: 100%;
      padding: 0;
      margin: 0;

      .instagram-item {
        position: relative;
        color: #fff;
        overflow: hidden;

        .instagram-info,
      	.instagram-date {
      		display: none;
      	}

        .item--overlay {
      		z-index: 2;
      		opacity: 0;
      		background-color: rgba(#343538,0.4);
      		i {
      			position: absolute;
      			color: #fff;
      			font-size: 50px;
      			width: 50px;
      			height: 50px;
      			line-height: 50px;
      			text-align: center;
      			transform: translate(-50%,-50%);
      			left: 50%;
      			top: 50%;
      			background: -webkit-gradient(radial, 33% 100%, 0, 33% 100%, 221, color-stop(1.00, #515ECF), color-stop(0.81, #9B36B7), color-stop(0.63, #D92E7F), color-stop(0.32, #F15245), color-stop(0.04, #FED373));
      			background: -webkit-radial-gradient(33% 100%, circle, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF 100%);
      			background: radial-gradient(33% 100%, circle, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF 100%);
      			-webkit-background-clip: text;
      			-webkit-text-fill-color: transparent;
      		}
      	}
      	&:hover {
      		.item--overlay{
      			visibility: visible;
      			opacity: 1;
      		}
      	}
      	a.thumbnail {
      		padding-bottom: 100%;
      		display: block;
      		background-position: center center;
      		background-size: cover;
      		position: relative;
      	}
      }

      &.image-as-43 {
      		.instagram-item {
      			a.thumbnail {
      				padding-bottom: 75%;
      			}
      		}
      	}

      	.image-as-169 {
      		.instagram-item {
      			a.thumbnail {
      				padding-bottom: 56.25%;
      			}
      		}
      	}

      	.image-as-2351 {
      		.instagram-item {
      			a.thumbnail {
      				padding-bottom: 42.55%;
      			}
      		}
      	}
    }
  }
}
