.woocommerce {
	.checkout_coupon {
		position: relative;
		max-width: 500px;
		margin: rem-calc(8) auto rem-calc(48);

		p {
			&:not(.form-row) {
				margin-bottom: rem-calc(24);
				text-align: center;
			}

			&.form-row {
				float: left;
				margin-bottom: 0;
				width: 57%;

				.input-text {
					line-height: rem-calc(16);
					width: 100%;
					margin-bottom: 0;

					&:focus {
						background: none;
						box-shadow: none;
					}
					@include breakpoint(medium down) {
						padding-left: 0;
						padding-right: 0;
					}
				}
			}

			&.form-row-last {
				float: right;
				width: 40%;

				.button {
					z-index: 9;
					outline: none;
				}
			}
		}
	}
}
