.foundation-megamenu-item_wrapper {
	max-width: v(site-width);
	margin: 0 auto;
	@each $breakpoint, $padding in $content-padding {
		@include breakpoint($breakpoint) {
			padding: rem-calc($padding) rem-calc($padding) 0;
		}
	}

	.foundation-megamenu-item_list {
		a {
			display: inline-block;
			color: v(dropdown-text-color);
			text-align: left;
			&:hover {
				color: v(dropdown-accent-color);
			}
		}
		.foundation-megamenu-item {
			margin-bottom: rem-calc(40);
			opacity: 0;
			animation: megamenu_categories;
			animation-duration: 0.4s;
			animation-fill-mode: forwards;
			@for $i from 1 through 30 {
				&:nth-child(#{$i}) {
					animation-delay: (0.1s * $i);
				}
			}

			> a {
				margin-bottom: rem-calc(16);
				width: 100%;
				font-weight: 600;
				text-align: left;

				&:hover {
					.megamenu_thumbnail {
						transform: scale(0.975);
					}
				}

				.megamenu_thumbnail {
					margin-bottom: rem-calc(16);
					height: 150px;
					width: 100%;
					background-size: cover;
					background-position: top center;
					background-repeat: no-repeat;
					display: inline-block;
					transition: transform 0.3s ease-in-out;
					will-change: transform;
				}

				> .count {
					font-size: rem-calc(11);
					color: v(dropdown-grey-color);
				}
			}

			.megamenu_subcategory_list {
				> div > a {
					display: block;
					color: v(dropdown-secondary-color);
					font-size: rem-calc(14);
					margin-bottom: rem-calc(8);
					line-height: 1.4;
					text-align: left;

					> .count {
						font-size: rem-calc(11);
						color: v(dropdown-grey-color);
					}

					&:hover {
						color: v(dropdown-accent-color);
					}
				}
			}
		}
	}
	.right-banner-box {
		overflow: hidden;
		img {
			transition: transform 1s ease-out;
			transform: scale(1.01);
			-ms-transform: scale(1.01);
			-webkit-transform: scale(1.01);
			&:hover {
				transform: scale(1.1);
				-ms-transform: scale(1.1);
				-webkit-transform: scale(1.1);
			}
		}
	}
}
