.header-cart {
	.minicart {
		padding: 0;
		width: 362px;
		max-height: 700px;
		z-index: 999;

		.widget_shopping_cart {
			font-size: rem-calc(13);
			padding: 0;
			border: none;
			.widgettitle {
				display: none;
			}
			.woocommerce-mini-cart {
				margin: rem-calc(40) rem-calc(20) rem-calc(40) rem-calc(40);

				.woocommerce-mini-cart-item.mini_cart_item {
					> a.remove {
						font-size: 0;
						@include rotate_close_btn();
					}

					a {
						+ span.quantity {}
					}
				}
			}

			.woocommerce-mini-cart__total.total {}

			.woocommerce-mini-cart__buttons.buttons {
				padding: 0 rem-calc(40);
			}

			.woocommerce-mini-cart__empty-message {
				display: flex;
				justify-content: center;
				flex-direction: column;
				padding: rem-calc(35) rem-calc(80) rem-calc(32);
				text-align: center;
				margin-bottom: 0;
				font-size: rem-calc(18);
				line-height: rem-calc(24);

				&:before {
					@include nova_icon('\ea28');
					font-size: rem-calc(45);
					margin-bottom: rem-calc(16);
					display: block;
				}
			}
		}
	}
}
