.nova-page-header {
	position: relative;
	display: flex;
	align-items: center;
	background-color: v(page-header-bg-color);
	background-position: center;
	color: v(page-header-text-color);
	min-height: rem-calc(300);
	&__overlay {
		position: absolute;
    top: 0;
    left: 0;
    background: v(page-header-overlay-color);
    width: 100%;
    height: 100%;
		opacity: 0.4;
	}
	> .nova-container,
	> .row {
		position: relative;
	}
	.nova-page-header__inner {
		@each $breakpoint, $padding in $content-padding {
			@include breakpoint($breakpoint) {
				padding: rem-calc($padding*1.4) rem-calc($padding);
			}
		}
		.page-title {
			color: v(page-header-heading-color);
			font-size: rem-calc(40);
			font-weight: v(heading-font-weight);
			text-align: center;
			text-transform: uppercase;
		}
		.woocommerce-breadcrumb {
			color: v(page-header-text-color);
			text-align: center;
			.delimiter:before {
				color: v(page-header-text-color);
			}
		}
		a {
			color: v(page-header-text-color);
			&:hover {
				color: v(site-accent-color);
			}
		}
	}
	&.large {
		min-height: v(page-header-height);
		.woocommerce-breadcrumb {
			margin-bottom: 0;
		}
	}
}
.page-header-content {
	margin-bottom: rem-calc(40);
	.page-header-center & {
		text-align: center;
	}
	.woocommerce-breadcrumb {
		font-size: rem-calc(12);
		margin-bottom: rem-calc(24);
		text-transform: uppercase;
		letter-spacing: 1px;
	}
	h1 {
		font-size: rem-calc(48);
		line-height: 1;
		margin-bottom: 0;
		text-align: left;
		text-transform: uppercase;
		@include breakpoint( small only) {
			font-size: rem-calc(32);
		}
	}
}
