.entry-content-wrap {
  .cat-list {
    display: flex;

    a {
      font-size: rem-calc(11);
      padding: 5px 10px;
      margin-right: rem-calc(10);
      border: solid 1px v(site-border-color);
      letter-spacing: 1.8px;
      text-transform: uppercase;
      margin-bottom: rem-calc(12);

      &:hover {
        background: v(site-accent-color);
        color: #fff;
      }
    }
  }

  .entry-meta {
    display: flex;
    align-items: center;
    font-size: rem-calc(14);
    margin-bottom: rem-calc(12);
    .entry-meta__cat {
      max-width: rem-calc(450);
    }
    @include breakpoint(medium down) {
      font-size: rem-calc(12);
      .entry-meta__cat {
        display: none;
      }
    }
    a.author-all-posts {
      position: relative;
    }

    figure {
      display: inline-block;
      width: 26px;
      height: 26px;
      margin-right: 5px;
      margin-bottom: 0;
      @include breakpoint(medium down) {
        display: none;
      }

      img {
        width: 26px;
        height: 26px;
        border-radius: 50%;
      }
    }

    .dot {
      width: 10px;
      height: 1px;
      display: inline-block;
      background: v(site-accent-color);
      margin: 0 rem-calc(8);
      @include breakpoint(medium down) {
        &.mobile-hidden,
        &.last {
          display: none;
        }
      }
    }
    .meta-right {
      display: flex;
      align-items: center;
      margin-left: rem-calc(15);
      &__post-date {
        display: flex;
        align-items: center;
        .post-date-icon {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 30px;
          height: 30px;
          border: solid 1px v(site-border-color);
          margin-right: rem-calc(10);
          border-radius: 50%;

          svg.icon-calendar-svg {
            width: 12px;
            height: 14px;
            color: v(site-heading-color);
          }
        }
      }
      .nova-sharing-posts {
        display: none;
        @include breakpoint( medium  ) {
          display: flex;
        }
        margin-left: rem-calc(20);
      }
    }
  }
}

.entry-title {
  hyphens: auto;
  margin-bottom: rem-calc(0);
}

.entry-content {
  font-size: rem-calc(16);
  margin-bottom: rem-calc(28);
  line-height: rem-calc(30);

  p {
    margin-bottom: 0;
  }
}
