.blog-layout-2 {
  .blog-listing .blog-articles .post .nova-blog-posts__content .entry-title {
    font-family: inherit;
    font-size: rem-calc(24);
    font-weight: 600;
    margin-bottom: rem-calc(8);
  }
}
