[type='text'],
[type='password'],
[type='date'],
[type='datetime'],
[type='datetime-local'],
[type='month'],
[type='week'],
[type='email'],
[type='number'],
[type='search'],
[type='tel'],
[type='time'],
[type='url'],
[type='color'],
textarea {
  border-color: $form_border_color;
  border-radius: v(site-field-radius);
  &:focus {
    background-color: transparent;
    border-color: v(site-heading-color);
    box-shadow: none;
  }
  &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #888888;
    opacity: 1; /* Firefox */
  }

  &:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #888888;
  }

  &::-ms-input-placeholder { /* Microsoft Edge */
    color: #888888;
  }
}
