.nova-sidebar__toggle {
  display: none;
}
@include breakpoint(769px down) {
  .nova-sidebar {
    &__overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1112;
      opacity: 0;
      visibility: hidden;
      background-color: rgba(0, 0, 0, 0.2);
      transition: opacity 0.5s ease, visibility 0.5s ease;
    }
    &__container {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      background: #fff;
      padding: 0;
      max-width: none;
      width: rem-calc(500);
      z-index: 1113;
      transition: -webkit-transform 0.5s ease;
      transition: transform 0.5s ease;
      transition: transform 0.5s ease, -webkit-transform 0.5s ease;
      -webkit-transform: translate3d(-500px,0,0);
      transform: translate3d(-500px,0,0);
    }
    &__toggle {
      display: block;
      position: absolute;
      top: 40%;
      right: -40px;
      width: 40px;
      height: 40px;
      transition: all .2s;
      border: #ccc solid 1px;
      border-left-width: 0;
      background-color: #fff;
      text-align: center;
      &:before {
        @include nova_icon('\ea37');
        font-size: rem-calc(24);
        color: v(site-heading-color);
        line-height: 38px;
      }
    }
    .sidebar-scrollable {
      overflow: hidden;
      overflow-y: auto;
      padding: 20px;
      padding-top: 60px;
      height: 100%;
    }
    &.opened {
      .nova-sidebar__overlay {
        opacity: 1;
        visibility: visible;
      }
      .nova-sidebar__container {
        transform: none;
        @include breakpoint(767px down) {
          width: 85%;
        }
      }
      .nova-sidebar__toggle {
        &:before {
          @include nova_icon('\ea13');
          font-size: rem-calc(28);
          line-height: 38px;
        }
      }
    }
  }
}
