.novaworks-carousel-wrap {
	.elementor-slick-slider ul.slick-dots {
		text-align: right;
		li {
			position: relative;
			padding-right: rem-calc(50);
			&:after {
				content: "/";
				position: absolute;
				top: 0;
				right: rem-calc(10);
			}
			&:last-child {
				padding-right: rem-calc(0);
				&:after {
					display: none;
				}
			}
			button {
				font-size: rem-calc(18);
				font-weight: 500;
				color: v(site-heading-color);
			}
			&.slick-active {
				button {
					color: v(site-accent-color);
				}
			}
		}
	}
}
