.woocommerce-info {
  @include site_notice(#6EBFC7, '\ea16');
  padding: rem-calc(25);
  line-height: rem-calc(24);

  &:before {
    font-size: rem-calc(18);
    line-height: rem-calc(24);
  }

  a {
    background: none;
    color: #FFF !important;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    line-height: 17px;
    border-bottom: 1px solid;
    padding: 0;
    margin-right: 10px;
    @include breakpoint(medium) {
      border-bottom: 2px solid;
      line-height: 18px;
    }

    &:hover {
      border-bottom: 1px solid transparent;
      background-color: transparent;
      color: #FFF !important;
    }

    &:active,
    &:focus {
      background-color: transparent;
    }

    &:after {
      content: none;
      width: 100%;
      height: 1px;
      display: block;
    }
  }

  .showcoupon,
  .showlogin {
    color: #FFF;
    border-bottom: 2px solid;
    line-height: rem-calc(24);
    margin-left: 5px;

    &:hover {
      border-bottom: 2px solid transparent;
    }
  }

  .showcoupon {
    margin-right: 0;
  }
}
